---
import { getCollection } from "astro:content";
import BaseHead from "./BaseHead.js";
import Footer from "./Footer.js";
import Header from "./Header.js";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts.ts";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 6); // Get latest 6 posts

const featuredPost = posts[0];
const currentPage = Number(Astro.url.searchParams.get("page")) || 1;
---

<!doctype html>
<html lang="zh-TW">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />

    <slot />

    <Footer />
  </body>
</html>
