---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts.ts";
import ToTop from "../global/ToTop.astro";
---

<!doctype html>
<html lang="zh-TW" class="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <slot />
    <Footer />
    <ToTop />
  </body>
</html>
