---
import ToComment from "./ToComment.astro";
import ToTop from "./ToTop.astro";
---

<div
  class="fixed bottom-6 left-1/2 -translate-x-1/2 lg:bottom-36 lg:left-auto lg:right-6 lg:-rotate-90 flex gap-4 flex-row-reverse"
>
  <ToTop />
  <ToComment />
</div>
